<%# <h1> Vue index visit </h1> %>
<div class="container d-flex justify-content-around flex-wrap col-lg-10">
<!-- NAVBAR CHECK 
<div class="search-bar">
    <%= form_tag visits_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mr-sm-2",

        #id: "address_input",
        placeholder: "Où voulez-vous partir ?"

      %>
      <%= submit_tag "Rechercher", class: "btn btn-search " %>
    <% end %>
  </div> 
  !-->
    <% @visits.each do |visit| %>

<div class="ticket-img" style="background-image:url(https://res.cloudinary.com/dairqume0/image/upload/v1592329375/ticket_mm8e6p.png); background-size:cover;">


        <%# <div class="card-visit"> %>
       <%# <%= image_tag "https://res.cloudinary.com/dairqume0/image/upload/v1592329375/ticket_mm8e6p.png", class: "ticket-img" %> 
            <%= link_to visit_path(visit) do %>
            <% if visit.photo.attached?  %>
                <%= cl_image_tag visit.photo.key, class:"imgcardvisit" %>
            <% end %>
            <div class="card-info">

            <% if visit.user.avatar.attached? %>
            <%=  cl_image_tag visit.user.avatar.key, class: "img-card-avatar rounded-circle"  %>
            <% end %>
                <h3><%= visit.title[0..23] %> ...<h3>

                <h4><%= visit.price %> € </h4>
                    <div class="card-info-bottom">
                        <div class="black-line"></div>
                        <h5><%= visit.place %></h5>
                    </div>
            </div>
             <% end %>
        </div>
    <% end %>
</div>


    <%= link_to 'Créer ma visite', new_visit_path, class: 'btn btn-primary btn btncreate btn-formulaire-sub-edit'   %>



<%#= link_to 'Louez moi', car_path(car), class: 'btn btn-primary btnloc'%>
            <%#= link_to 'Voir la visite', visit_path(visit), class: 'btn btn-primary btnloc'%>
            <%#= visit.description %>
            <%#= visit.tag %>