<h1> Vue index visit </h1>

<% @visits.each do |visit| %>
    <% if visit.photo.attached?  %>
        <%= cl_image_tag visit.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <%= visit.title %>
    <%= visit.description %>
    <%= visit.price %>
    <%= visit.place %>
    <%= visit.tag %>
    <%= link_to 'Voir la visite', visit_path(visit), class: 'btn btn-primary btnloc'%>
<% end %>
<%= link_to 'Create my visit', new_visit_path, class: 'btn btn-primary btn btncreate'  %>
