<div class="container col-lg-5">
    <%# <div class="row justify-content-center"> %>
        <%# <div class="col-md-12"> %>
    <div class="ticket-form" style="background-image:url(https://res.cloudinary.com/dairqume0/image/upload/v1592329375/ticket_mm8e6p.png); background-size:cover;">
            <h1> Créez votre visite </h1>

            <%= simple_form_for @visit do |f| %>
                <p><%= f.input :title %></p>
                <p><%= f.input :description %></p>
                <p><%= f.input :price %></p>
                <p><%= f.input :place %></p>
                <p><%= f.input :tag %></p>
                <p><%= f.input :photo, as: :file %></p>
                <%= f.button :submit, class: 'btn btn-primary btn-formulaire-sub' %>
            <% end %>
            
        <%# </div> %>
        <%# </div> %>
        <%= link_to 'Retour', visits_path  %>
    </div>
</div>