<div class="container formulaire col-lg-4">
    <%# <div class="row justify-content-center"> %>
        <%# <div class="col-md-12"> %>
            <h1> Create your visit </h1>
            <%= simple_form_for @visit do |f| %>
                <p><%= f.input :title %></p>
                <p><%= f.input :description %></p>
                <p><%= f.input :price %></p>
                <p><%= f.input :place %></p>
                <p><%= f.input :tag %></p>
                <p><%= f.input :photo, as: :file %></p>
                <%= f.button :submit, class: 'btn btn-primary' %>
            <% end %>
        <%# </div> %>
    <%# </div> %>
    <%= link_to 'Back', visits_path  %>
</div>