<div class="container formulaire col-lg-8">
    <div class="visit-booking-form d-flex align-items-stretch">
        <%= cl_image_tag @visit.photo.key, height: 300, width: 400, crop: :fill, class:"img-visit-booking" %>
        <div class="visit-booking-desc">
            <h1><%= @visit.title %></h1>
            <h2 class="font-helvetica"><%= @visit.description %></h2>
            <h2 class="font-helvetica"><%= @visit.place %></h2>
            <h2 class="font-helvetica"><%= @visit.price %> €</h2>
            <h2 class="font-helvetica style-tag"><%= @visit.tag %></h2>
        </div>
    </div> 
    <div class="visit-booking-btn">
        <% if current_user.id == @visit.user_id %>
            <%= link_to 'Editer', edit_visit_path(@visit), class: 'btn btn-primary btn-formulaire-sub-edit'%>
            <%= link_to 'Supprimer', visit_path(@visit), class: 'btn btn-danger btn-formulaire-sub-delete', method: :delete, data: { confirm: 'Are you sure?' }%>
        <%end%>

     <%= render 'shared/newbooking', visit: @visit, booking: @booking %> 
    
    
    <h3>Reviews</h3>
  <% if @visit.reviews.empty? %>
    <p>Soyez le premier à laisser une review</p>
  <% else %>
    <ul class="list-group">
      <% @visit.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.description %>
        </li>
      <% end %>
    </ul>
  <% end %>
    <%= link_to 'Back', visits_path  %>
    </div>
    <div>
    <%= render 'shared/newreview', visit: @visit, review: @review %>
    </div>
</div>