<div class="dashboard container col-lg-6">

    <h1> Dashboard </h1>
      <br>
    <h2> Mes reservations de visite</h2>
      <br>
  <div class="ticket-dashboard d-flex flex-row" style="background-image:url(https://res.cloudinary.com/dairqume0/image/upload/v1592341558/ticketrot_2_jafx13.png); background-size:cover;">
    <% @bookings.each do |booking|  %>
      <div class="ticket-dashboard-client align-self-center">
        <h3><strong>Titre : </strong><%= booking.visit.title %></h3>
        <%# <li><strong>Description de la visite : </strong><%= booking.visit.description %>
        <h3><strong>Ville :</strong><%= booking.visit.place %></h3>
        <h3><strong>Date de debut :</strong> <%= booking.checking_date %></h3>
        <%# <li><strong>Date de fin :</strong> <%= booking.checkout_date %>
        <h3><strong>Prix :</strong> <%= booking.visit.price %> € </h3>
        <h3>3 peronnes</h3>
        <h3>RDV sortie 5 metro 6</h3>
        <h3>RDV a 9h</h3>
        <h3>num telephone : 0650696650</h3>
      </div>
      <div class="ticket-dashboard-guide align-self-center">
        <ul>
          <h3><strong>Titre :</strong><%= booking.visit.title %></h3>
          <%# <li><strong>Description de la visite : </strong><%= booking.visit.description %>
          <h3><strong>Ville :</strong><%= booking.visit.place %></h3>
          <h3><strong>Date de debut :</strong> <%= booking.checking_date %></h3>
          <%# <li><strong>Date de fin :</strong> <%= booking.checkout_date %>
          <h3><strong>Prix :</strong> <%= booking.visit.price %> € </h3>
          <h3>3 personne(s)</h3>
          <h3>RDV sortie 5 metro 6</h3>
          <h3>RDV a 9h</h3>
          <h3>num telephone : 0650696650</h3>
        </ul>
      </div>
    <% end %>
  </div>
    <br>
    <h2> Demande de visite </h2>
    <br>
  <div class="ticket-dashboard-visit" style="background-image:url(https://res.cloudinary.com/dairqume0/image/upload/v1592341558/ticketrot_2_jafx13.png); background-size:cover;">
    <% @my_visits_bookings.each do |booking|  %>
    <ul>
                <h3><strong>Titre :</strong> <%= booking.visit.title %></h3>
                <%# <li><strong>Description de la visite :</strong> <%= booking.visit.description %>
                <h3><strong>Ville :</strong> <%= booking.visit.place %></h3>
                <%# <li><strong>Ce qui le caracterise :</strong> <%= booking.visit.tag %> 
                <h3><strong>Date de debut :</strong> <%= booking.checking_date %></h3>
                <%# <li><strong>Date de fin :</strong> <%= booking.checkout_date %>
                <h3><strong>Prix :</strong> <%= booking.visit.price %> €</h3>
    </ul>
    <% end %>
  </div>
  <br>
  <%= link_to 'Back', visits_path, class: 'btn btn-primary btnback' %> 
  <br>
