<div class="container col-lg-6">

    <h1> Dashboard </h1>
      <br>
    <h2> Mes reservations de visite</h2>
      <br>
  <div class="ticket-dashboard" style="background-image:url(https://res.cloudinary.com/dairqume0/image/upload/v1592341558/ticketrot_2_jafx13.png); background-size:cover;">
    <% @bookings.each do |booking|  %>
      <ul>
              <li><strong>Titre : </strong><%= booking.visit.title %></li>
              <li><strong>Description de la visite : </strong><%= booking.visit.description %></li>
              <li><strong>Ville :</strong><%= booking.visit.place %></li>
              <li><strong>Date de debut :</strong> <%= booking.checking_date %></li>
              <li><strong>Date de fin :</strong> <%= booking.checkout_date %></li>
              <li><strong>Prix :</strong> <%= booking.visit.price %> € </li>
      </ul>
    <% end %>
  </div>
    <br>
    <h2> Demande de visite </h2>
    <br>
  <div class="ticket-dashboard" style="background-image:url(https://res.cloudinary.com/dairqume0/image/upload/v1592341558/ticketrot_2_jafx13.png); background-size:cover;">
    <% @my_visits_bookings.each do |booking|  %>
    <ul>
                 <li><strong>Titre :</strong> <%= booking.visit.title %></li>
                <li><strong>Description de la visite :</strong> <%= booking.visit.description %></li>
                <li><strong>Ville :</strong> <%= booking.visit.place %></li>
                 <li><strong>Ce qui le caracterise :</strong> <%= booking.visit.tag %> € </li>
                <li><strong>Date de debut :</strong> <%= booking.checking_date %></li>
                <li><strong>Date de fin :</strong> <%= booking.checkout_date %></li>
                <li><strong>Prix :</strong> <%= booking.visit.price %> €</li>
    </ul>
    <% end %>
  </div>
  <br>
  <%= link_to 'Back', visits_path, class: 'btn btn-primary btnback' %> 
  <br>
