<div class="banner" style="background-image:url(https://res.cloudinary.com/dairqume0/image/upload/v1592339371/banner_lnj46m.png);-webkit-filter: drop-shadow(0px 0px 10px #cecece);
  filter: drop-shadow(0px 0px 10px #cecece)">

  <div class=" picture-banner d-flex flex-row justify-content-between px-3">

    <div class="d-flex flex-direction-column banner-vertical">
      <div class="white-circle">
      </div>
      <div class="white-circle">
      </div>
      <h1> Trip with me </h1>
      <div class="black-line-trip">
      </div>
    </div>

    <div class="d-flex flex-column text-banner">
      <h1> Savourez votre voyage </h1>
      <div class="space-banner">
      </div>
      <div class="black-line-voyage">
      </div>
      <h2>東京 - 수원 - Paris - Madrid - Berlin - London ...</h2>
      <h2>Choisissez votre local, destination et découvrez ses secrets</h2>

 <div class="search-bar">
    <%= form_tag visits_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mr-sm-2",

        #id: "address_input",
        placeholder: "Où voulez-vous partir ?"

      %>
      <%= submit_tag "Rechercher", class: "btn btn-search " %>
    <% end %>
  </div> 
    </div>
  
    <div class="d-flex align-items-center justify-content-center img-ban" >
    <%= image_tag "https://res.cloudinary.com/ddkbkwzfv/image/upload/v1592383327/banner-draw_tlajj4.png", class:"illustration" %>
    </div>


    <%# <p>Un voyage authentique</p> %>
  </div>
</div>


<div>
  <div class=" col-lg-12">
      <div class="aventure">
          <h2 class="title-size">Partir à l'aventure</h2>
          <div class="aventure-galery d-flex justify-content-center">
            <%= link_to "#" do %>
              <%= image_tag "https://res.cloudinary.com/ddkbkwzfv/image/upload/v1591887844/IMG_5216_zudc1r.jpg", class: "img-aventure" %>
            <% end %>
            <%= link_to "#" do %>
              <%= image_tag "https://res.cloudinary.com/ddkbkwzfv/image/upload/v1591887819/42770983_306332839963487_1646390449230839808_n_wx7twa.jpg", class: "img-aventure" %>
            <% end %>
            <%= link_to "#" do %>
              <%= image_tag "https://res.cloudinary.com/ddkbkwzfv/image/upload/v1591887903/IMG_2313_heavvx.jpg", class: "img-aventure" %>
            <% end %>
      </div>
  </div>

  <div class="experiences">
      <h2 class="title-size">Découvrez l’expérience de nos locaux</h2>
      <div>
      </div>
  </div>
    
  <div class="container d-flex justify-content-around flex-wrap">
    <% @visits.each do |visit| %>
    <div class="ticket-img" style="background-image:url(https://res.cloudinary.com/dairqume0/image/upload/v1592329375/ticket_mm8e6p.png); background-size:cover;">


        <%# <div class="card-visit"> %>
       <%# <%= image_tag "https://res.cloudinary.com/dairqume0/image/upload/v1592329375/ticket_mm8e6p.png", class: "ticket-img" %> 
            <%= link_to visit_path(visit) do %>
            <% if visit.photo.attached?  %>
                <%= cl_image_tag visit.photo.key, class:"imgcardvisit" %>
            <% end %>
            <div class="card-info">
            <% if visit.user.avatar.attached? %>
            <%=  cl_image_tag visit.user.avatar.key, class: "img-card-avatar rounded-circle"  %>
            <% end %>
                <h3><%= visit.title[0..23] %> ...<h3>
                <h4><%= visit.price %> € </h4>
                    <div class="card-info-bottom">
                        <div class="black-line"></div>
                        <h5><%= visit.place %></h5>
                    </div>
            </div>
             <% end %>
        </div>
    <% end %>
  </div>

  <div class="container d-flex justify-content-around flex-wrap col-lg-8 mapbox" id="map"
    style="width: 50%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="etapes d-flex justify-content-between">
      <div class="text-center">
        <h2>ETAPE 1</h2>

        <p>Rencontrez des habitants locaux selon leurs centres d’intérêts ou leur personnalité. <p>
        </div>
        <div class="text-center">
        <h2>ETAPE 2</h2>
        <p>Visitez et découvrez pourquoi les habitants aiment le lieu qu'ils vous font découvrir.<p>
        </div>
        <div class="text-center">
        <h2>ETAPE 3</h2>
        <p>Publiez votre visite à votre tour et faites découvrir votre quartier.Devenez ambassadeur de votre ville/région<p>
        </div>
    </div>
</div>
